@charset "UTF-8";

.history_content {
  padding: 0 !important;
}

.history_teaser {
  background: url("../images/history/teaser_history.jpg") right center no-repeat;
  background-size: cover;
}

.history_born {
  padding: 80px 0;
  background: url("../images/history/bg_history01.jpg") right center no-repeat;
  background-size: cover;
  color: #fff;
}
.history_born_txt {
  max-width: 80%
}
@media screen and (max-width: 768px) {
.history_born {
  padding: 40px 0;
}
.history_born_txt {
  max-width: 100%
}
}

.history_born .page_tit.line:before {
  background: #fff;
}


.history_box {
  padding: 60px 0;
}
.history_img_large {
  position: relative;
}
.history_img_large img {
  width: 100%;
}
.history_box_in+.history_box_in {
  margin-top: 50px;
  padding-top: 50px;
  border-top: 1px #333 solid;
}
.history_box_tit {
  font-size: 18px;
  font-weight: 800;
  line-height: 1.4;
  margin-bottom: 30px;
  display: flex;
  align-items: flex-end;
}
.history_box_tit.history_box_block {
	display: block;
}
.history_box_tit .history_box_date {
  font-size: 56px;
  line-height: 1;
  padding-right: 25px;
}
.history_box_tit.history_box_block .history_box_date {
	margin-bottom: 10px;
	padding-right: 0;
	display: inline-block;
}
.history_box_tit .history_box_cont {
  flex: 1;
}
.history_box_in .frimg {
  width: 32%;
  text-align: center;
}
.history_box_in .ftbox {
  width: 60%;
  float: left;
}
.history_box_in .common_btn {
  margin-top: 40px;
}
.history_box_in .common_btn a {
  min-width: 240px;
  font-size: 14px;
}
.history_box_in .frimg .common_btn {
  margin-top: 25px;
}
.history_box_in .frimg .common_btn a {
  width: 240px;
}

@media screen and (max-width: 768px) {
.history_box {
  padding: 40px 0;
}
.history_box_in+.history_box_in {
  margin-top: 40px;
  padding-top: 40px;
}
.history_box_tit {
  font-size: 18px;
  line-height: 1.5;
  margin-bottom: 20px;
}
.history_box_tit .history_box_date {
  font-size: 40px;
  padding-right: 20px;
  align-self: flex-start;
}
.history_box_in .frimg {
  float: none;
  width: auto;
  margin: 30px 0 0;
}
.history_box_in .ftbox {
  float: none;
  width: auto;
}
.history_box_in .common_btn {
  margin-top: 20px;
  text-align: center;
}
}

.history_box_img {
  display: none;
}

@media screen and (max-width: 768px) {
.history_img_large img {
  display: none;
}
.history_img_large {
  height: 180px;
}
.history_img_large01 {
  background: url("../images/history/bg_history02.jpg") center center no-repeat;
  background-size: cover;
}
.history_img_large02 {
  background: url("../images/history/bg_history03.jpg") center center no-repeat;
  background-size: cover;
}
.history_img_large03 {
  background: url("../images/history/bg_history04.jpg") right -150px center no-repeat;
  background-size: cover;
  height: auto;
}
.history_box_img {
  display: block;
  text-align: center;
  margin-top: 30px;
}
.frimg_none {
  display: none;
}
}

.history_gfour {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
  z-index: 2;
}
.history_gfour_inner {
  max-width: 240px;
}
.history_gfour_logo {
  text-align: center;
}
.history_gfour_logo img {
  width: auto;
}
.history_gfour_inner .common_btn {
  margin-top: 20%;
}
.history_gfour_inner .common_btn a {
  width: 240px;
}
@media screen and (max-width: 1080px) {
.history_gfour_inner .common_btn {
  margin-top: 20px;
}
.history_gfour_logo img {
  width: 50%;
}
}

@media screen and (max-width: 768px) {
.history_gfour {
  position: relative;
  left: inherit;
  top: inherit;
  transform: translateY(0);
  width: auto;
  padding: 20px 0;
}
.history_gfour_inner {
  max-width: none;
  background: rgba(255,255,255,0.5);
  padding: 20px;
  text-align: center;
}
.history_gfour_logo {
  text-align: center;
}
.history_gfour_logo img {
  display: inline-block;
  width: auto;
}
.history_gfour_inner .common_btn {
  margin-top: 20px;
}
.history_gfour_inner .common_btn a {
  width: 240px;
}
}



@media screen and (max-width: 1080px) {

}














