@charset "UTF-8";

.product_teaser {
  background: url(../images/product/teaser_product.jpg) right center no-repeat;
  background-size: cover;
}
.product_col_four {
  margin: -100px 0 0 -5%;
}
.product_col_four li {
  float: left;
  width: 25%;
  margin-top: 100px;
  padding-left: 5%;
}
.product_one_img {
  text-align: center;
  margin-bottom: 20px;
}
.product_two_img {
  margin-bottom: 15px;
  text-align: center;
}
.product_two_tit {
  border-bottom: 1px #505050 solid;
  font-weight: bold;
  line-height: 1.5;
  padding-bottom: 10px;
  margin-bottom: 15px;
  text-align: center;
}
.product_two_btn {
  margin-top: 15px;
}
.product_two_btn a {
  display: block;
  color: #7b5544;
  border: 2px #7b5544 solid;
  line-height: 1.5;
  padding: 10px;
  text-align: center;
  font-weight: bold;
}
.product_two_btn a span {
  font-size: 18px;
  display: inline-block;
  margin-left: 10px;
}
.product_col_four .common_btn a {
  display: block;
}
.product_two_btn a:hover {
  color: #fff;
  background: #7b5544;
}
@media screen and (max-width: 768px) {
.product_col_four {
  margin: -50px 0 0 -5%;
}
.product_col_four li {
  width: 50%;
  margin-top: 50px;
}
}


.lineup_teaser {
  background: url(../images/lineup/teaser_lineup.jpg) center center no-repeat;
  background-size: cover;
}

.lineup_drip {
  padding-bottom: 100px;
}
.lineup_link_old {
  margin-top: 50px;
}
.lineup_link_old a {
  display: inline-block;
  color: #7b5544;
  font-weight: bold;
}
.lineup_link_old a span {
  display: inline-block;
  margin-left: 10px;
  font-size: 18px;
}

@media screen and (max-width: 768px) {
.lineup_drip {
  padding-bottom: 50px;
}
.lineup_link_old {
  margin-top: 30px;
}
}

.product_detail {
  padding-bottom: 140px;
}
.product_detail .frimg {
  margin-left: 4%;
  max-width: 36%;
}
.product_detail .common_btn {
  margin-top: 70px;
}
.product_detail .common_btn a {
  width: 200px;
}
@media screen and (max-width: 768px) {
.product_detail {
  padding-bottom: 50px;
}
.product_detail .frimg {
  float: none;
  margin: 0 0 30px;
  max-width: none;
  text-align: center;
}
.product_detail .common_btn {
  margin-top: 30px;
}
}

.product_anchor li {
  float: left;
  width: 25%;
}
.product_anchor li a {
  color: #7b5544;
  display: block;
  font-weight: bold;
  text-align: center;
  line-height: 1.5;
  padding-bottom: 20px;
  position: relative;
}
.product_anchor li a:before {
	position:absolute;
	background: #7b5544;
	width: 0;
	height: 2px;
	content:"";
	z-index:2;
	bottom: 0;
	left: 0;
	transition: all 0.5s !important;
	-moz-transition: all 0.5s !important; /* Firefox */
	-webkit-transition: all 0.5s !important; /* Chrome&Safari */
}
.product_anchor li a:hover:before {
	width: 100%;
	transition: all 0.5s !important;
	-moz-transition: all 0.5s !important; /* Firefox */
	-webkit-transition: all 0.5s !important; /* Chrome&Safari */
}
.product_anchor li a span {
  background: url(../images/common/arrow_anchor.png) right center no-repeat;
  padding-right: 25px;
  display: inline-block;
}
@media screen and (max-width: 768px) {
.product_anchor li {
  width: 50%;
  margin-top: 10px;
}
}


.product_features+.product_features {
  margin-top: 60px;
}
.product_features {
  overflow: hidden;
}
.product_features .flimg,.product_features .frimg {
  width: 46%;
  text-align: center;
}
.product_features .flimg {
  margin-right: 8%;
}
.product_features .frimg {
  margin-left: 8%;
}
.product_features_tit {
  font-size: 25px;
  font-weight: bold;
  line-height: 1.5;
  margin-bottom: 10px;
}
@media screen and (max-width: 768px) {
.product_features+.product_features {
  margin-top: 30px;
}
.product_features .flimg,.product_features .frimg {
  width: auto;
  float: none;
  margin: 0 0 30px;
}
.product_features_tit {
  font-size: 20px;
}
}

.product_spec+.product_spec {
  margin-top: 40px;
}
.product_spec_tit {
  font-weight: bold;
  font-size: 18px;
  margin-bottom: 10px;
}
.product_spec_table {
  width: 100%;
}
.product_spec_table td,.product_spec_table th {
  width: 50%;
  background: #ebebeb;
  line-height: 1.5;
  padding: 15px;
}
.product_spec_table th {
  font-weight: bold;
}
.product_spec_table tr:nth-child(2n) td,.product_spec_table tr:nth-child(2n) th {
  background: #fff;
}
@media screen and (max-width: 768px) {
.product_spec+.product_spec {
  margin-top: 30px;
}
.product_spec_tit {
  font-size: 16px;
}
.product_spec_table {
  width: 100%;
}
.product_spec_table td,.product_spec_table th {
  padding: 10px;
}
}


@media screen and (max-width: 1080px) {

}
@media screen and (max-width: 768px) {

}


















