@charset "utf-8";

.aboutus_section+.aboutus_section {
  margin-top: 120px;
}
.aboutus_section .page_title_mid {
  margin-bottom: 70px;
}

.aboutus_place {
  overflow: hidden;
}
.aboutus_place .aboutus_place_img {
  float: left;
  width: 230px;
  text-align: center;
  padding-top: 10px;
}
.aboutus_place .aboutus_place_cont {
  padding: 10px 0 0 30px;
  border-left: 1px #dcdcdc solid;
  overflow: hidden;
}
.aboutus_place .aboutus_place_tit {
  font-size: 18px;
  font-weight: 500;
  line-height: 1.8;
  margin-bottom: 35px;
}
.aboutus_place .aboutus_place_txt li {
  line-height: 1.8;
}
.aboutus_place .aboutus_place_txt li+li {
  margin-top: 25px;
}

.aboutus_place .aboutus_place_btn a {
  display: inline-block;
  border: 1px #dcdcdc solid;
  font-weight: 500;
  padding: 10px 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  border-radius: 20px;
}
.aboutus_place .aboutus_place_btn a:hover {
  border: 1px #000 solid;
  background: #000;
  color: #fff;
}
.aboutus_place .aboutus_place_btn a span {
  display: inline-block;
  background: url(../images/aboutus/arrow_aboutus.png) right center no-repeat;
  padding-right: 30px;
}
.aboutus_place .aboutus_place_btn a:hover span {
  background: url(../images/aboutus/arrow_aboutus_on.png) right center no-repeat;
}
@media screen and (max-width: 768px) {
.aboutus_section+.aboutus_section {
  margin-top: 50px;
}
.aboutus_section .page_title_mid {
  margin-bottom: 30px;
}

.aboutus_place .aboutus_place_img {
  float: none;
  width: auto;
  text-align: center;
  padding-top: 0;
  margin-bottom: 20px;
}
.aboutus_place .aboutus_place_cont {
  padding: 20px 0 0;
  border-left: none;
  border-top: 1px #dcdcdc solid;
}
.aboutus_place .aboutus_place_tit {
  font-size: 16px;
  margin-bottom: 20px;
}
.aboutus_place .aboutus_place_txt li+li {
  margin-top: 15px;
}
}


.aboutus_company {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}
.aboutus_company .aboutus_company_box {
  width: 49%;
}
.aboutus_company .common_table th {
  width: 20%;
  padding-right: 20px;
  vertical-align: top;
}
.aboutus_company .common_table td {
  vertical-align: top;
}
.aboutus_company .common_table td {
  line-height: 1.8;
}
.aboutus_company .aboutus_company_addr+.aboutus_company_addr {
  margin-top: 20px;
}
.aboutus_company .aboutus_company_map {
  margin-top: 10px;
}
.aboutus_company .aboutus_company_map a {
  display: inline-block;
  color: #7b7b7b;
  font-size: 18px;
  border: 1px #dcdcdc solid;
  padding: 5px 15px;
  line-height: 1;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
  border-radius: 15px;
}
.aboutus_company .aboutus_company_map a:hover {
  border: 1px #000 solid;
  background: #000;
  color: #fff;
}
@media screen and (max-width: 768px) {
.aboutus_company {
  display: block;
}
.aboutus_company .aboutus_company_box {
  width: auto;
}
.aboutus_company .aboutus_company_box+.aboutus_company_box {
  margin-top: 50px;
}
.aboutus_company .common_table th {
  width: 25%;
}
}


.aboutus_place_link {
  overflow: hidden;
  margin-top: 30px;
}
.aboutus_place_link li {
  float: left;
  margin-right: 50px;
}
.aboutus_link_right {
  background: url("../images/aboutus/right_arrow_aboutus.png") 0 center no-repeat;
  padding-left: 15px;
}
.aboutus_link_right a {
  font-size: 13px;
  font-weight: 500;
  line-height: 40px;
}
@media screen and (max-width: 1080px) {
.aboutus_place_link li {
  margin-right: 10px;
}
}
@media screen and (max-width: 768px) {
.aboutus_place_link li {
  float: none;
  margin-right: 0;
}
.aboutus_place_link li+li {
  margin-top: 10px;
}
.aboutus_link_right a {
  line-height: 1.5;
}
}

.aboutus_history_box {
  position: relative;
}
.aboutus_history_box:before {
  position: absolute;
  content: "";
  background: #d3d3d3;
  width: 1px;
  height: 100%;
  right: 30%;
  top: 0;
  z-index: 2;
}
.aboutus_history_in {
  overflow: hidden;
  line-height: 1.7;
}
.aboutus_history_in+.aboutus_history_in {
  margin-top: 30px;
}
.aboutus_history_date {
  float: left;
  width: 12%;
  font-size: 42px;
  color: #669ed1;
  letter-spacing: -0.04em;
  line-height: 1;
}
.aboutus_history_in .ftbox {
  border-left: 1px #d3d3d3 solid;
  padding-left: 30px;
}
.aboutus_history_in table {
  width: 100%;
}
.aboutus_history_in table .whalf {
  width: 40%;
  padding-left: 8%;
}
.aboutus_history_in td {
  vertical-align: top;
}
.aboutus_history_hdl {
  font-size: 16px;
  font-weight: 500;
}
.aboutus_history_hds {
  font-weight: 700;
}
.aboutus_history_txt {
  padding-top: 20px;
}


@media screen and (max-width: 1080px) {
.aboutus_history_date {
  font-size: 28px;
}
}
@media screen and (max-width: 768px) {
.aboutus_history_box:before {
  right: 28%;
}
.aboutus_history_in+.aboutus_history_in {
  margin-top: 20px;
}
.aboutus_history_date {
  width: 18%;
  font-size: 20px;
}
.aboutus_history_in .ftbox {
  padding-left: 10px;
}
.aboutus_history_in table {
  width: 100%;
}
.aboutus_history_hdl {
  font-size: 16px;
}
.aboutus_history_txt {
  padding-top: 20px;
}

}


.link_pdf {
	background: url(../images/aboutus/ico_pdf.png) right center no-repeat;
	padding-right: 40px;
}

