@charset "utf-8";


.catalog_content{
	padding: 54px 0 0;
	max-width: 850px;
	margin: 0 auto;
}
.catalog_comment{
	font-size: 14px;
	line-height: 26px;
	color: #1c1c1c;
}
.catalog_comment a{
	color: #005bac;
}
@media screen and (max-width: 768px) {
.catalog_content{
	padding: 0;
	max-width: 100%;
	margin: 0;
}
}










