@charset "utf-8";

.ceo_image {
  position: relative;
}
.ceo_image img {
  width: 100%;
}
.ceo_image .ceo_image_txt {
  position: absolute;
  color: #191919;
  font-size: 28px;
  font-weight: 500;
  left: 6%;
  top: 50%;
  line-height: 1.3;
  transform: translateY(-60%);
  z-index: 2;
}
.ceo_image .ceo_image_name {
  position: absolute;
  text-align: right;
  color: #191919;
  right: 6%;
  bottom: 15%;
  z-index: 2;
}
.ceo_image .ceo_image_name span {
  font-size: 20px;
  font-weight: 500;
}
@media screen and (max-width: 768px) {
.ceo_image .ceo_image_txt {
  font-size: 16px;
  transform: translateY(-100%);
}
.ceo_image .ceo_image_name {
  bottom: 5%;
  font-size: 10px;
}
.ceo_image .ceo_image_name span {
  font-size: 14px;
}
}

.ceo_content {
  padding-top: 120px;
}
.ceo_content .page_title_mid {
  text-align: left;
  margin-bottom: 50px;
}
.ceo_content .ceo_content_list li+li {
  margin-top: 30px;
}
.ceo_content .ceo_content_list li {
  line-height: 1.8;
}
@media screen and (max-width: 768px) {
.ceo_content {
  padding-top: 30px;
}
.ceo_content .page_title_mid {
  margin-bottom: 30px;
}
.ceo_content .ceo_content_list li+li {
  margin-top: 20px;
}
}

.ceo_main {
  display: table;
  width: 100%;
}
.ceo_main_img {
  display: table-cell;
  width: 47%;
  vertical-align: middle;
}
.ceo_main_in {
  display: table-cell;
  width: 53%;
  padding-right: 6%;
  vertical-align: middle;
  position: relative;
}
.ceo_main_tit {
  font-size: 28px;
  font-weight: 500;
}
.ceo_main_name {
  position: absolute;
  text-align: right;
  right: 6%;
  bottom: 0;
  z-index: 2;
}
.ceo_main_name span {
  font-size: 20px;
}
@media screen and (max-width: 768px) {
.ceo_main_img {
  width: 100%;
  display: block;
}
.ceo_main_in {
  display: block;
  width: 100%;
  padding-right: 0;
}
.ceo_main_tit {
  font-size: 20px;
  margin-bottom: 20px;
}
.ceo_main_name {
  position: inherit;
  text-align: right;
  right: inherit;
  bottom: inherit;
  z-index: 2;
  margin-bottom: 20px;
}
.ceo_main_name span {
  font-size: 16px;
}
}

.ceo_content_tit {
  font-size: 18px;
  font-weight: 500;
  line-height: 1.8;
  background: #f7f7f7;
  padding: 25px 30px;
  margin-bottom: 50px;
}
@media screen and (max-width: 768px) {
.ceo_content_tit {
  padding: 20px;
  margin-bottom: 30px;
}
}


@media screen and (max-width: 1080px) {
  
}
@media screen and (max-width: 768px) {
  
}

