@charset "utf-8";

.sustain_txt {
  line-height: 1.8;
}
.sustain_comment{
	margin: 66px 0 30px;
	font-size: 14px;
	line-height: 1.8;
}
.variety_trial_img{
	float: right;
}
.variety_trial_content{
	overflow: hidden;
	padding: 8px 25px 0 0;
}
.variety_trial_title{
	font-size: 16px;
	line-height: 1.8;
	color: #1c1c1c;
	font-weight: 500;
}
.variety_trial_title span{
	font-size: 18px;
	color: #7b7b7b;
	font-weight: 400;
	margin: 0 0 0 12px;
}
.variety_trial_text{
	font-size: 14px;
	line-height: 1.8;
	margin: 24px 0 0;
}
.variety_trial_detail{
	line-height: 1;
}
.variety_trial_detail a{
	display: inline-block;
	font-size: 13px;
	line-height: 1.8;
	color: #606060;
	font-weight: 500;
	margin: 30px 0 0;
	padding: 0 0 0 15px;
	background: url(../images/sustainability/arw_right01.png) 0 7px no-repeat;
}
.variety_trial_links{
	margin: 5px 0 0;
}
.variety_trial_links a{
	font-size: 13px;
	line-height: 1.8;
	color: #005bac;
}
.variety_trial_links a img{
	margin: -4px 0 0 8px;
	vertical-align: middle;
}
.sustain_balance{
	padding: 154px 0 0;
}
.sustain_balance_inner{
	margin: 72px 0 0;
	display: flex;
}
.sustain_balance_logo{
	width: 366px;
}
.sustain_balance_text{
	flex: 1;
	padding: 0 0 0 30px;
	border-left: 1px solid #dcdcdc;
	font-size: 14px;
	line-height: 1.8;
}
.sustain_balance_text li+li {
  margin-top: 25px;
}
@media screen and (max-width: 768px) {
.sustain_content{
	padding: 0;
}
.sustain_comment{
	margin: 30px 0;
}
.variety_trial_title span{
	display: block;
	font-size: 16px;
	margin: 0;
}
.variety_trial_img{
	float: none;
}
.variety_trial_img img{
	width: 100%;
}
.variety_trial_content{
	padding: 8px 0 0;
}
.variety_trial_text{
	margin: 10px 0 0;
}
.variety_trial_links a{
	font-size: 12px;
}
.variety_trial_links a img{
	margin: -4px 0 0 4px;
}
.sustain_balance{
	padding: 70px 0 0;
}
.sustain_balance_inner{
	margin: 40px 0 0;
	display: block;
}
.sustain_balance_logo{
	width: 100%;
	text-align: center;
}
.sustain_balance_logo img{
	max-width: 280px;
}
.sustain_balance_text{
	margin: 20px 0 0;
	padding: 20px 0 0;
	border-left: none;
	border-top: 1px solid #dcdcdc;
	font-size: 14px;
}
}

.sustain_cont_up {
  margin-bottom: 150px;
}
.sustain_purchase {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}
.sustain_purchase .sustain_purchase_in {
  width: 48%;
}
.sustain_purchase .sustain_purchase_tit {
  float: left;
  background: url("../images/sustainability/arw_right01.png") 0 5px no-repeat;
  padding-left: 17px;
  font-size: 13px;
  font-weight: 500;
}
.sustain_purchase .sustain_purchase_link {
  float: right;
}
.sustain_purchase .sustain_purchase_link a {
  display: inline-block;
  background: url("../images/sustainability/icon_sustainability01.png") right center no-repeat;
  padding-right: 30px;
  color: #005bac;
  font-size: 13px;
}
.sustain_purchase .sustain_purchase_img {
  overflow: hidden;
  margin: 15px 0 0 -10px;
}
.sustain_purchase .sustain_purchase_img li {
  float: left;
  width: 50%;
  padding-left: 10px;
  text-align: center;
}
.sustain_purchase .sustain_purchase_img li img {
  width: 100%;
}

@media screen and (max-width: 768px) {
.sustain_cont_up {
  margin-bottom: 50px;
}
.sustain_purchase {
  display: block;
}
.sustain_purchase .sustain_purchase_in {
  width: auto;
}
.sustain_purchase .sustain_purchase_in+.sustain_purchase_in {
  margin-top: 30px;
}
.sustain_purchase .sustain_purchase_tit {
  font-size: 14px;
  float: none;
  margin-bottom: 20px;
}
.sustain_purchase .sustain_purchase_link {
  float: none;
  margin-bottom: 10px;
  padding-left: 10px;
}
.sustain_purchase .sustain_purchase_img {
  margin: 0;
}
}





