@charset "UTF-8";

/* !Reseting
---------------------------------------------------------- */
#top_logo {
	position: fixed;
	top: 0;
	left: 0;
	background-color: #fff;
	width: 100%;
	height: 100%;
	z-index: 9999;
}
#top_logo div.top_logo_inner {
	width: 320px;
	height: 320px;
	position: absolute;
	top: 50%;
	left: 50%;
	margin-top: -160px;
	margin-left: -160px;
  overflow: hidden;
}
#top_logo div.top_logo_inner {
	z-index: 9998;
}
#top_logo div.top_logo_inner div {
  background: url(../images/common/read_logo.png) center center no-repeat #fff;
	background-size: 80%;
	position: static;
	margin: 0;
  width: 300px;
  height: 115px;
}

.top_inner {
  padding-bottom: 100px;
}

.top_links {
  text-align: right;
}
.top_links a {
  display: inline-block;
  background: url(../images/top/arrow_black_top.png) right center no-repeat;
  padding-right: 25px;
  font-weight: 500;
}
.top_links a .fonten {
  font-size: 20px;
}

.top_main_img {
  padding: 0 100px;
}
@media screen and (max-width: 1080px) {
.top_main_img {
  padding: 0 15px;
}
}
.top_main_img img {
  width: 100%;
}
@media screen and (max-width: 768px) {
.top_inner {
  padding-bottom: 50px;
}
}

.top_wrapper #head {
  border-bottom: none;
}


.top_aboutus {
  margin-top: 120px;
}
.top_aboutus_tit {
  text-align: center;
  margin-bottom: 30px;
  font-size: 28px;
  font-weight: 500;
  letter-spacing: 0.2em;
}
.top_aboutus_tit span {
  display: block;
  color: #7b7b7b;
  font-size: 25px;
  font-weight: 400;
  letter-spacing: 0.1em;
  margin-bottom: 15px;
}
.top_aboutus_txt {
  text-align: center;
  font-size: 16px;
  line-height: 1.9;
  margin-bottom: 35px;
}
.top_aboutus .common_btn {
  max-width: 230px;
  margin: 0 auto;
}
@media screen and (max-width: 768px) {
.top_aboutus {
  margin-top: 50px;
}
.top_aboutus_tit {
  margin-bottom: 20px;
  font-size: 20px;
}
.top_aboutus_tit span {
  font-size: 22px;
  margin-bottom: 10px;
}
.top_aboutus_txt {
  margin-bottom: 20px;
  font-size: 14px;
}
}

.top_pst {
  margin-top: 140px;
}
.top_pst_list {
  overflow: hidden;
  margin-left: -20px;
}
.top_pst_list li {
  float: left;
  width: 33.3333%;
  padding-left: 20px;
}
.top_pst_list li a {
  display: block;
}
.top_pst_tit_box {
  display: table;
  width: 100%;
  margin-bottom: 20px;
}
.top_pst_tit {
  width: 100%;
  display: table-cell;
  vertical-align: bottom;
  font-size: 32px;
  color: #7b7b7b;
  padding-right: 100px;
  line-height: 1;
  position: relative;
}
.top_pst_tit:before {
  position: absolute;
  content: "";
  background: #dcdcdc;
  width: 100px;
  height: 1px;
  right: 0;
  bottom: 10px;
  z-index: 2;
}
.top_pst_txt {
  color: #333;
  font-weight: 500;
  margin-bottom: 15px;
}
.top_pst_img {
  text-align: center;
}
.top_pst_img img {
  width: 100%;
}
@media screen and (max-width: 1080px) {
.top_pst_list {
  margin: -20px 0 0 -40px;
}
.top_pst_list li {
  width: 50%;
  margin-top: 40px;
}
}

@media screen and (max-width: 768px) {
.top_pst {
  margin-top: 50px;
}
.top_pst_list {
  margin: -30px 0 0;
}
.top_pst_list li {
  float: none;
  width: auto;
  padding-left: 0;
  margin-top: 30px;
}
.top_pst_tit {
  font-size: 24px;
  padding-right: 40px;
  margin-bottom: 10px;
}
.top_pst_tit:before {
  width: 40px;
  bottom: 10px;
}
}

.top_brand {
  margin-top: 240px;
}
.top_brand_list {
  overflow: hidden;
  margin: -40px 0 0 -2px;
}
.top_brand_list li {
  float: left;
  width: 20%;
  padding-left: 2px;
  margin-top: 40px;
}
.top_brand_list li a {
  display: block;
}
.top_brand_list li img {
  width: 100%;
}
@media screen and (max-width: 1080px) {
.top_brand_list li {
  width: 25%;
}
}
@media screen and (max-width: 768px) {
.top_brand {
  margin-top: 50px;
}
.top_brand_list {
  margin: -20px 0 0 -2px;
}
.top_brand_list li {
  width: 50%;
  margin-top: 20px;
}
}

.top_recruit {
  max-width: 1240px;
  margin: 100px auto 0;
  padding: 0 20px;
}
.top_recruit a {
  display: block;
  overflow: hidden;
  color: #fff;
  position: relative;
}
.top_recruit a img {
  width: 100%;
	transition: all 0.6s;
	-webkit-transition: all 0.6s;
	transform: scale(1); 
}
.top_recruit a:hover img {
	transform: scale(1.1);
	transition: all 0.6s;
}
.top_recruit_tit {
  position: absolute;
  left: 0;
  width: 100%;
  top: 50%;
  text-align: center;
  font-weight: 500;
  font-size: 22px;
  transform: translateY(-50%);
  letter-spacing: 0.2em;
  z-index: 2;
}
.top_recruit_tit b {
  font-weight: 400;
  font-size: 20px;
  display: block;
}
.top_recruit_link {
  position: absolute;
  background: url(../images/top/arrow_white_top.png) right center no-repeat;
  padding-right: 25px;
  right: 20px;
  bottom: 20px;
  z-index: 2;
}
@media screen and (max-width: 768px) {
.top_recruit {
  margin: 50px auto 0;
}
.top_recruit_tit {
  font-size: 16px;
}
.top_recruit_tit b {
  font-size: 18px;
}
.top_recruit_link {
  padding-right: 15px;
  right: 10px;
  bottom: 10px;
}
}


.top_news {
  margin-top: 160px;
}
.top_facebook {
  float: right;
  margin-left: 35px;
}
.top_news_tit {
  border-top: 1px #d3d3d3 solid;
  padding-top: 10px;
  font-size: 22px;
  margin-bottom: 30px;
}
.top_news_list li+li {
  margin-top: 30px;
}
.top_news_list .top_news_date {
  font-size: 16px;
  color: #7a7a7a;
}
.top_news .top_links {
  margin-top: 60px;
}
@media screen and (max-width: 768px) {
.top_news {
  margin-top: 50px;
}
.top_facebook {
  float: none;
  margin: 0 0 30px;
}
.top_news_tit {
  font-size: 18px;
}
.top_news_list li+li {
  margin-top: 20px;
}
.top_news .top_links {
  margin-top: 30px;
}
}

.top_life {
  max-width: 1240px;
  margin: 200px auto 0;
  padding: 0 20px;
}
.top_life .top_links {
  margin-top: 20px;
}
.top_life_box {
  padding: 40px 40px 0;
}
.top_life_slider {
  border-left: 1px #d3d3d3 solid;
  border-right: 1px #d3d3d3 solid;
}
.top_life_slider .slick-slide {
  border-right: 1px #d3d3d3 solid;
}
@media screen and (max-width: 1200px) {
.top_life_box {
  padding: 20px 20px 0;
}
}
.top_life_tit {
  font-size: 18px;
  margin-bottom: 60px;
}
.top_life_tit span {
  font-size: 22px;
}
.top_life_det {
  color: #7b7b7b;
  font-size: 14px;
  margin-bottom: 10px;
}
.top_life_box a {
  display: block;
  overflow: hidden;
}
.top_life_box a img {
  width: 100%;
  transition: all 0.6s;
  -webkit-transition: all 0.6s;
  transform: scale(1);
}
.top_life_box a:hover img {
  transform: scale(1.1);
  transition: all 0.6s;
}
.top_life .slick-arrow {
  position: absolute;
  top: 50%;
  margin-top: -26px;
  width: 52px;
  height: 52px;
  text-indent: -9999px;
  border: none;
  outline: none;
  z-index: 2;
}
.top_life .slick-prev {
  left: -20px;
  background: url(../images/top/prev_slider_top.png) 0 0 no-repeat;
}
.top_life .slick-next {
  right: -20px;
  background: url(../images/top/next_slider_top.png) 0 0 no-repeat;
}


@media screen and (max-width: 1080px) {
.top_life .slick-prev {
  left: -20px;
}
.top_life .slick-next {
  right: -20px;
}
}
@media screen and (max-width: 768px) {
  
}
