@charset "UTF-8";


@font-face {
  font-family: "Alte DIN 1451 Mittelschrift";
  font-weight: normal;
  font-style: normal;
  src: url("./font/din1451alt.ttf") format("truetype");
}
@font-face {
  font-family: "Myriad Pro";
  font-weight: normal;
  font-style: normal;
  src: url("./font/MYRIADPRO-REGULAR.OTF") format("truetype");
}
/* !HTML5 elements
---------------------------------------------------------- */
header, footer, nav, section, aside, article {
  display: block;
}
/* !Reseting
---------------------------------------------------------- */
body {
  font-family: 'Noto Sans JP', sans-serif;
  font-size: 12px;
  -webkit-text-size-adjust: none;
  line-height: 1.5;
  color: #000;
  font-weight: 400;
}
body, div, pre, p, blockquote, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, form, fieldset, th, td, a,input {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
}
input, textarea {
  margin: 0;
  font-size: 100%;
}
label {
	cursor: pointer;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
  font-size: 100%;
}
fieldset, img {
  border: 0;
}
img {
  vertical-align: top;
  max-width: 100%;
}
address, caption, cite, code, dfn, em, th, var {
  font-style: normal;
  font-weight: normal;
}
ol, ul {
  list-style: none;
}
caption, th {
  text-align: left;
}
h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
  font-weight: normal;
}
q:after, q:before {
  content: '';
}
a, input {
/* outline: none; */
}
abbr, acronym {
  border: 0;
}
/* !font-family
---------------------------------------------------------- */
.fonten {
  font-family: 'Harmattan', sans-serif;
}
.fontamiri {
  font-family: 'Amiri', sans-serif;
}
.fontDIN {
  font-family: 'Alte DIN 1451 Mittelschrift', sans-serif;
}
.fontMyriad {
  font-family: "Myriad Pro", sans-serif;
}
/* !Base Fonts
---------------------------------------------------------- */
a {
  color: #000;
  text-decoration: none;
  transition: all 0.5s !important;
  -moz-transition: all 0.5s !important;
  -webkit-transition: all 0.5s !important;/* Chrome&Safari */
}
a:hover {
  transition: all 0.5s !important;
  -moz-transition: all 0.5s !important;
  -webkit-transition: all 0.5s !important;/* Chrome&Safari */
}
/* !ftBox
---------------------------------------------------------- */
.ftbox {
  overflow: hidden;
  *zoom: 1;
}
/* !visible
---------------------------------------------------------- */
.visiblepc {
  display: block;
}
.visiblets {
  display: none;
}
 @media screen and (max-width: 1080px) {
.visiblets {
  display: block;
}
.visiblepc {
  display: none;
}
}


/* !Clearfix
---------------------------------------------------------- */
.clearfix {
  display: block;
  min-height: 1%;
}
.clearfix:after {
  clear: both;
  content: ".";
  display: block;
  height: 0;
  visibility: hidden;
}
* html .clearfix {
	height: 1%;/*\*/
	/*/
	height: auto;
	overflow: hidden;
	/**/
}
/* !Layout
---------------------------------------------------------- */
html {
  overflow-y: scroll;
}
body {
}
 @media print {
html,  html body {
  *zoom: 0.65;
}
}



/* !op
---------------------------------------------------------- */
.op a {
	-webkit-transition: opacity 0.5s ease-out;
	-moz-transition: opacity 0.5s ease-out;
	-ms-transition: opacity 0.5s ease-out;
	transition: opacity 0.5s ease-out;	
}
.op a:hover {
	opacity: .7;
	-webkit-opacity: .7;
	-moz-opacity: .7;
	filter: alpha(opacity=70);	/* IE lt 8 */
	-ms-filter: "alpha(opacity=70)"; /* IE 8 */
	-webkit-transition: opacity 0.5s ease-out;
	-moz-transition: opacity 0.5s ease-out;
	-ms-transition: opacity 0.5s ease-out;
	transition: opacity 0.5s ease-out;
}


/* !wrapper
---------------------------------------------------------- */
#wrapper {
  
}
#wrapper .inner {
  max-width: 1240px;
  margin: 0 auto;
  padding: 0 20px;
}
@media screen and (max-width: 1080px) {
#wrapper{
  padding: 55px 0 0;
}
#wrapper .inner {
  padding: 0 20px;
}
}


/* !head
---------------------------------------------------------- */
#head{
  position: relative;
}
.head_top{
  text-align: right;
  background: #e4e4e4;
}
.head_top a{
  display: inline-block;
  width: 150px;
  font-size: 10px;
  line-height: 30px;
  text-align: center;
  color: #fff;
  background: #333333;
}
.head_top a:last-child{
  background: #986e3f;
}
.head_down{
  position: relative;
  background: #fff;
}
.head_down ul{
  padding: 34px 0;
  text-align: center;
}
.head_down li{
  display: inline;
  vertical-align: top;
}
.head_down li + li{
  margin: 0 0 0 70px;
}
.head_down li a{
  position: relative;
  display: inline-block;
  font-size: 12px;
  line-height: 42px;
}
.head_down .head_link:after{
  position: absolute;
  content: " ";
  right: 0;
  bottom: 4px;
  left: 0;
  display: block;
  height: 2px;
  background-color: #dacaad;
  transform: scaleX(0);
  transform-origin: left top;
  transition: transform .5s cubic-bezier(.165,.84,.44,1);
}
.head_down .head_link:hover:after,
.head_down .head_link.current:after{
  transform: scaleX(1);
}
.head_shop{
  position: absolute;
  right: 13px;
  top: 41px;
}
.head_shop a{
  display: block;
  padding: 0 38px 0 0;
  font-size: 12px;
  line-height: 30px;
  background: url(../images/common/icon_shop.png) right 0 top 0 no-repeat;
}
.fixed_head{
  position: fixed;
  top: -145px;
  left: 0;
  width: 100%;
  transition: all .5s ease;
  z-index: 99;
  box-shadow: 0 0 5px rgba(0,0,0,0.1);
}
.fixed_head.show{
  top: 0;
}
@media screen and (max-width: 1080px) {
#head{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 998;
  overflow: hidden;
}
.head_top{
  display: none;
}
.head_down ul{
  padding: 17px 0;
  text-align: center;
}
.head_down li{
  display: none;
  line-height: 1;
}
.head_down li.op{
  display: block;
}
.head_down li + li{
  margin: 0;
}
.head_down li a.head_logo{
  line-height: 1;
}
.head_down li a.head_logo img{
  width: 65px;
}
.head_shop{
  display: none;
}
.fixed_head{
  display: none;
}
}
/* !js-navbar js-menu
---------------------------------------------------------- */
.js-navbar{
  position: absolute;
  width: 55px;
  height: 55px;
  right: 8px;
  top: 0;
  background: url(../images/common/menu.png) center no-repeat;
  background-size: 100% 100%;
  cursor: pointer;
  z-index: 999;
}
.js-menu{
  position: fixed;
  right: -100%;
  top: 0;
  width: 100%;
  padding: 20px 20px 30px;
  box-sizing: border-box;
  background: #e4e4e4;
  z-index: 1080;
  transition: right 250ms ease-in-out;
}
.js-menu.on{
  right: 0;
}
.js-close{
  position: absolute;
  top: 6px;
  right: 6px;
  width: 50px;
  height: 50px;
  background: url(../images/common/close.png) center no-repeat;
  background-size: 100% 100%;
  cursor: pointer;
}
.menu_logo img{
  width: 65px;
}
.menu_links{
  margin: 17px 0 0;
}
.menu_links li a{
  display: block;
  font-size: 14px;
  line-height: 50px;
}
.menu_btns{
  margin: 19px 0 0;
}
.menu_btns a{
  display: block;
  text-align: center;
  font-size: 14px;
  line-height: 45px;
  color: #fff;
  background: #333333;
}
.menu_btns a:last-child{
  margin: 17px 0 0;
  background: #986e3f;
}
/* !breadcrumb
---------------------------------------------------------- */
#breadcrumb {
  font-size: 12px;
  line-height: 30px;
  color: #fff;
  background: rgba(0,0,0,0.4);
}
#breadcrumb a {
  color: #fff;
}
@media screen and (max-width: 1080px) {
#breadcrumb {
  margin: 0 auto;
}
}

@media screen and (max-width: 768px) {
#breadcrumb {
  text-align: left;
}
}
/* !teaser
---------------------------------------------------------- */
.teaser{
  height: 180px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.teaser_product{
  background-image: url(../images/product/bg_teaser_product01.jpg);
}
.teaser_about{
  background-image: url(../images/about/bg_teaser_about01.jpg);
}
/* !main-contents
---------------------------------------------------------- */
#contents {
}



/* !footer
---------------------------------------------------------- */
.footer_link{
  text-align: center;
}
.footer_link a{
  font-size: 12px;
  line-height: 50px;
}
.footer_link a + a{
  margin: 0 0 0 26px;
}
#copyright{
  font-size: 12px;
  line-height: 54px;
  color: #fff;
  text-align: center;
  background: #333333;
}
@media screen and (max-width: 768px) {
.footer_link{
  padding: 40px 0 20px;
  text-align: center;
}
.footer_link a{
  display: block;
  font-size: 12px;
  line-height: 30px;
}
.footer_link a + a{
  margin: 0;
}
#copyright{
  font-size: 10px;
  line-height: 16px;
  padding: 14px 0;
}
}



/* !title
---------------------------------------------------------- */
.page_title {
  position: relative;
  text-align: center;
  font-size: 32px;
  line-height: 40px;
}
.page_title span{
  font-family: 'Noto Sans JP', sans-serif;
  font-weight: 500;
}
.page_title:before{
  position: absolute;
  width: 38px;
  height: 1px;
  content: "";
  left: 50%;
  bottom: -13px;
  background: #333333;
  transform: translateX(-50%);
}
.page_title_mid {
  font-size: 20px;
  text-align: center;
  line-height: 32px;
}
.page_title_mid span{
  display: block;
  font-size: 12px;
  line-height: 1;
  margin: 0 0 10px;
}
@media screen and (max-width: 768px) {
.page_title {
  font-size: 24px;
  line-height: 30px;
}
.page_title:before{
  position: absolute;
  width: 30px;
  height: 1px;
  content: "";
  left: 50%;
  bottom: -15px;
  background: #333333;
  transform: translateX(-50%);
}
.page_title_mid {
  font-size: 18px;
  line-height: 24px;
}
.page_title_mid span{
  font-size: 12px;
  margin: 0 0 12px;
}  
}
/* !btn
---------------------------------------------------------- */
.common_btn{
  display: inline-block;
  width: 230px;
  font-size: 12px;
  line-height: 50px;
  text-align: center;
  background: #f0f0f0;
}
.common_btn:after {
  position: relative;
  display: inline-block;
  width: 12px;
  height: 7px;
  left: 0;
  margin: 0 0 0 7px;
  content: "";
  background: url(../images/common/arw_right01.png);
  background-size: 12px auto;
  transition: 0.3s ease-in-out;
}
.common_btn:hover{
  background: #d4d4d4;
}
.common_btn:hover:after {
  position: relative;
  left: 10px;
  transition: 0.3s ease-in-out;
}



















@media screen and (max-width: 1080px) {
  
}
@media screen and (max-width: 768px) {
  
}





