@charset "UTF-8";


@font-face {
  font-family: "Alte DIN 1451 Mittelschrift";
  font-weight: normal;
  font-style: normal;
  src: url("./font/din1451alt.ttf") format("truetype");
}
/* !HTML5 elements
---------------------------------------------------------- */
header, footer, nav, section, aside, article {
  display: block;
}
/* !Reseting
---------------------------------------------------------- */
body {
  font-family: 'Noto Sans JP', sans-serif;
  font-size: 12px;
  -webkit-text-size-adjust: none;
  line-height: 1.5;
  color: #000;
  font-weight: 400;
}
body, div, pre, p, blockquote, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, form, fieldset, th, td, a,input {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
}
input, textarea {
  margin: 0;
  font-size: 100%;
}
label {
	cursor: pointer;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
  font-size: 100%;
}
fieldset, img {
  border: 0;
}
img {
  vertical-align: top;
  max-width: 100%;
}
address, caption, cite, code, dfn, em, th, var {
  font-style: normal;
  font-weight: normal;
}
ol, ul {
  list-style: none;
}
caption, th {
  text-align: left;
}
h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
  font-weight: normal;
}
q:after, q:before {
  content: '';
}
a, input {
/* outline: none; */
}
abbr, acronym {
  border: 0;
}
/* !font-family
---------------------------------------------------------- */
.fonten {
  font-family: 'Harmattan', sans-serif;
}
.fontamiri {
  font-family: 'Amiri', serif;
}
.fontDIN {
  font-family: 'Alte DIN 1451 Mittelschrift', serif;
}

/* !Base Fonts
---------------------------------------------------------- */
a {
  color: #000;
  text-decoration: none;
  transition: all 0.5s !important;
  -moz-transition: all 0.5s !important;
  -webkit-transition: all 0.5s !important;/* Chrome&Safari */
}
a:hover {
  transition: all 0.5s !important;
  -moz-transition: all 0.5s !important;
  -webkit-transition: all 0.5s !important;/* Chrome&Safari */
}
/* !ftBox
---------------------------------------------------------- */
.ftbox {
  overflow: hidden;
  *zoom: 1;
}
/* !visible
---------------------------------------------------------- */
.visiblepc {
  display: block;
}
.visiblets {
  display: none;
}
 @media screen and (max-width: 1080px) {
.visiblets {
  display: block;
}
.visiblepc {
  display: none;
}
}


/* !Clearfix
---------------------------------------------------------- */
.clearfix {
  display: block;
  min-height: 1%;
}
.clearfix:after {
  clear: both;
  content: ".";
  display: block;
  height: 0;
  visibility: hidden;
}
* html .clearfix {
	height: 1%;/*\*/
	/*/
	height: auto;
	overflow: hidden;
	/**/
}
/* !Layout
---------------------------------------------------------- */
html {
  overflow-y: scroll;
}
body {
}
 @media print {
html,  html body {
  *zoom: 0.65;
}
}



/* !op
---------------------------------------------------------- */
.op a {
	-webkit-transition: opacity 0.5s ease-out;
	-moz-transition: opacity 0.5s ease-out;
	-ms-transition: opacity 0.5s ease-out;
	transition: opacity 0.5s ease-out;	
}
.op a:hover {
	opacity: .7;
	-webkit-opacity: .7;
	-moz-opacity: .7;
	filter: alpha(opacity=70);	/* IE lt 8 */
	-ms-filter: "alpha(opacity=70)"; /* IE 8 */
	-webkit-transition: opacity 0.5s ease-out;
	-moz-transition: opacity 0.5s ease-out;
	-ms-transition: opacity 0.5s ease-out;
	transition: opacity 0.5s ease-out;
}


/* !wrapper
---------------------------------------------------------- */
#wrapper {
  
}
#wrapper .inner {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}
@media screen and (max-width: 768px) {
#wrapper .inner {
  padding: 0 20px;
}
}


/* !head
---------------------------------------------------------- */
#head {
  
}
.head_top{
  text-align: right;
  background: #e4e4e4;
}
.head_top a{
  display: inline-block;
  width: 150px;
  font-size: 10px;
  line-height: 30px;
  text-align: center;
  color: #fff;
  background: #333333;
}
.head_top a:last-child{
  background: #986e3f;
}
.head_down{
  position: relative;
  background: #fff;
}
.head_down ul{
  padding: 34px 0;
  text-align: center;
}
.head_down li{
  display: inline;
}
.head_down li + li{
  margin: 0 0 0 70px;
}
.head_down li a{
  position: relative;
  display: inline-block;
  font-size: 12px;
  line-height: 40px;
}
.head_down .head_link:after{
  position: absolute;
  content: " ";
  right: 0;
  bottom: 4px;
  left: 0;
  display: block;
  height: 2px;
  background-color: #dacaad;
  transform: scaleX(0);
  transform-origin: left top;
  transition: transform .5s cubic-bezier(.165,.84,.44,1);
}
.head_down .head_link:hover:after{
  transform: scaleX(1);
}
.head_shop{
  position: absolute;
  right: 13px;
  top: 41px;
}
.head_shop a{
  display: block;
  padding: 0 38px 0 0;
  font-size: 12px;
  line-height: 30px;
  background: url(../images/common/icon_shop.png) right 0 top 0 no-repeat;
}

/* !breadcrumb
---------------------------------------------------------- */
#breadcrumb {
  max-width: 1150px;
  padding: 0 15px;
  margin: 15px auto 0;
  font-size: 13px;
  text-align: right;
  color: #7b7b7b;
}
#breadcrumb a {
  color: #7b7b7b;
}
#breadcrumb .home {
  font-size: 20px;
}
#breadcrumb span {
  font-size: 20px;
}
@media screen and (max-width: 1080px) {
#breadcrumb {
  margin: 0 auto;
}
}

@media screen and (max-width: 768px) {
#breadcrumb {
  text-align: left;
}
}

/* !main-contents
---------------------------------------------------------- */
#contents {
}

.contents_main {
  padding: 70px 0 140px;
}
.contents_main_box {
  border-top: 1px #dcdcdc solid;
  padding-top: 60px;
}
@media screen and (max-width: 1080px) {
.contents_main {
  padding: 30px 0 50px;
}
.contents_main_box {
  padding-top: 30px;
}
}


/* !footer
---------------------------------------------------------- */
#footer {
  
}







/* !title
---------------------------------------------------------- */
.page_title {
  font-weight: 500;
  text-align: center;
  font-size: 24px;
  margin-bottom: 50px;
  line-height: 1.2;
}
.page_title .page_title_en {
  display: block;
  color: #7b7b7b;
  font-weight: 400;
  text-align: center;
  margin-bottom: 20px;
  font-size: 20px;
}
@media screen and (max-width: 768px) {
.page_title {
  font-size: 18px;
  margin-bottom: 30px;
}
.page_title .page_title_en {
  margin-bottom: 10px;
  font-size: 16px;
}
}

.page_title_detail {
  text-align: center;
  font-weight: 500;
  font-size: 18px;
  margin-bottom: 50px;
  line-height: 1.8;
}
@media screen and (max-width: 768px) {
.page_title_detail {
  font-size: 15px;
  margin-bottom: 30px;
}
}

.page_title_mid {
  font-size: 20px;
  text-align: center;
  font-weight: 500;
  line-height: 1.7;
}
.page_title_mid .page_title_en {
  display: block;
  color: #7b7b7b;
  font-weight: 400;
  text-align: center;
  font-size: 20px;
}

@media screen and (max-width: 768px) {
.page_title_mid {
  font-size: 16px;
}
.page_title_mid .page_title_en {
  font-size: 16px;
}
}


/* !btn
---------------------------------------------------------- */
.common_btn {
  text-align: center;
}
.common_btn a {
  display: block;
  font-size: 14px;
  text-align: center;
  border: 1px #dcdcdc solid;
  padding: 6px 5px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
  border-radius: 15px;
}
.common_btn a:hover {
  background: #000;
  border: 1px #000 solid;
  color: #fff;
}



/* !link
---------------------------------------------------------- */
.link_white {
  color: #fff !important;
}




/* !box
---------------------------------------------------------- */
.box_yellow {
  background: #f7f7f7;
  padding: 40px 50px;
}
@media screen and (max-width: 768px) {
.box_yellow {
  padding: 20px;
}
}




/* !table
---------------------------------------------------------- */
.common_table {
  width: 100%;
  border-top: 1px #dcdcdc solid;
}
.common_table th,.common_table td {
  vertical-align: middle;
  padding: 25px 0;
  border-bottom: 1px #dcdcdc solid;
}
.common_table th {
  font-weight: 700;
}
@media screen and (max-width: 768px) {
.common_table th,.common_table td {
  padding: 15px 0;
}
}


/* !common_form
---------------------------------------------------------- */
.common_form{
	padding: 34px 0 0;
}
.common_form table{
	width: 100%;
	border-collapse: separate;
	border-spacing:0px 40px;
}
.common_form th{
	width: 190px;
	padding: 0 32px 0 0;
	font-size: 16px;
	line-height: 26px;
	font-weight: 500;
}
.common_form .contact_tr th{
	vertical-align: top;
	padding-top: 12px;
}
.common_form .textarea_tr th{
	vertical-align: top;
}
.common_form th span{
	font-size: 13px;
	margin: 0 0 0 8px;
	color: #ae1000;
}
.common_form td{
	height: 50px;
}
.common_form .form_input{
	display: block;
	width: 100%;
	border: 1px solid #b7b7b7;
	height: 50px;
	padding: 5px 8px;
	box-sizing: border-box;
	font-size: 16px;
}
.common_form .form_textarea{
	display: block;
	width: 100%;
	font-family: 'Noto Sans JP', sans-serif;
	font-size: 16px;
	height: 150px;
	padding: 5px;
	box-sizing: border-box;
	resize: none;
}
.form_telmail_box{
	position: relative;
}
.form_telmail_box + .form_telmail_box{
	margin: 40px 0 0;
}
.form_telmail_box .telmail_input{
	display: block;
	width: 100%;
	border: 1px solid #b7b7b7;
	height: 50px;
	padding: 5px 8px 5px 100px;
	box-sizing: border-box;
	font-size: 16px;
}
.form_telmail_box .telmail_text{
	position: absolute;
	left: 0;
	top: 50%;
	width: 90px;
	transform: translateY(-50%);
	border-right: 1px solid #b7b7b7;
	text-align: center;
	font-size: 14px;
	line-height: 26px;
}
.checkbox_wrap{
	font-size: 16px;
	line-height: 22px;
}
.checkbox_wrap label{
	display: inline-block;
	margin: 10px 30px 10px 0;
}
.common_form .form_checkbox{
	display: inline-block;
	width: 22px;
	margin: 0 8px 0 0;
}
.common_form .form_privacy{
	text-align: center;
	margin: 10px 0 0;
}
.common_form .form_privacy label{
	display: inline-block;
	font-size: 14px;
	line-height: 22px;
	margin: 0 8px 0 0;
}
.common_form .form_privacy a{
	color: #005bac;
}
.common_form .form_btn{
	text-align: center;
	margin: 34px 0 0;
}
.common_form .form_btn button{
	display: inline-block;
	width: 288px;
	height: 66px;
	text-align: center;
	font-family: 'Noto Sans JP', sans-serif;
	font-size: 16px;
	line-height: 64px;
	color: #fff;
	letter-spacing: 3px;
	background: #1c1c1c;
	-webkit-appearance:none;
	outline:none;
	border: 1px solid #1c1c1c;
	cursor: pointer;
	transition: all .5s ease;
}
.common_form .form_btn button:hover{
	background: #fff;
	color: #1c1c1c;
}
@media screen and (max-width: 768px) {
.common_form table,
.common_form tbody,
.common_form tr,
.common_form th,
.common_form td{
	display: block;
	width: 100%;
}
.common_form th{
	padding: 5px 0;
}
.common_form .contact_tr th{
	vertical-align: initial;
	padding-top: 0;
}
.common_form .textarea_tr th{
	vertical-align: initial;
}
.common_form td{
	height: auto;
	padding: 0 0 20px;
}
.common_form .form_input{
	height: 40px;
}
.form_telmail_box + .form_telmail_box{
	margin: 20px 0 0;
}
.form_telmail_box .telmail_input{
	height: 40px;
	padding: 5px 8px 5px 80px;
}
.form_telmail_box .telmail_text{
	width: 70px;
	font-size: 12px;
	line-height: 24px;
}
.checkbox_wrap{
	font-size: 16px;
	line-height: 22px;
}
.checkbox_wrap label{
	display: block;
	margin: 10px 0;
}
.common_form .form_btn{
	margin: 20px 0 0;
}
.common_form .form_btn button{
	width: 280px;
	height: 56px;
	font-size: 16px;
	line-height: 54px;
	letter-spacing: 2px;
	background: #1c1c1c;
}
}




/* !column
---------------------------------------------------------- */
.column_four {
  overflow: hidden;
  margin-left: -40px;
}
.column_four li {
  float: left;
  width: 25%;
  padding-left: 40px;
}
.column_four .column_box {
  
}
.column_four .column_box_img {
  display: table;
  width: 100%;
}
.column_four .column_box_img span {
  display: table-cell;
  width: 100%;
  vertical-align: bottom;
  text-align: center;
}
.column_four .column_box_det {
  text-align: center;
  margin-top: 20px;
}
.column_four .column_box_txt {
  border-top: 1px #d3d3d3 solid;
  margin-top: 20px;
  padding-top: 20px;
  line-height: 1.8;
}
.column_four .common_btn {
  margin-top: 25px;
}
@media screen and (max-width: 1080px) {
.column_four {
  margin-left: -20px;
}
.column_four li {
  width: 50%;
  padding-left: 20px;
}
}
@media screen and (max-width: 768px) {
.column_four {
  margin-left: 0;
}
.column_four li {
  float: none;
  width: auto;
  padding-left: 0;
}
}



/* !common_brand_list
---------------------------------------------------------- */
.common_brand_list{
	margin: -20px 0 0;
	display: flex;
	justify-content: space-between;
}
.common_brand_list img{
  width: 11.6071%;
}
@media screen and (max-width: 768px) {
.common_brand_list{
	margin: 0 0 20px;
	flex-wrap: wrap;
	justify-content: space-around;
}
.common_brand_list img{
  width: auto;
}
}



/* !common_bnr
---------------------------------------------------------- */
.common_bnr {
  overflow: hidden;
  margin: 0 0 100px -12px;
}
.common_bnr li {
  float: left;
  width: 33.3333%;
  padding-left: 12px;
}
.common_bnr li a {
  display: block;
  text-align: center;
  border: 1px #dcdcdc solid;
  font-size: 16px;
  font-weight: 500;
  padding: 10px;
}
.common_bnr li a:hover,.common_bnr li a.active {
  background: #005bac;
  color: #fff;
  border: 1px #005bac solid;
}
@media screen and (max-width: 1080px) {
.common_bnr {
  margin: -15px 0 100px -15px;
}
.common_bnr li {
  width: 50%;
  padding-left: 15px;
  margin-top: 15px;
}
}
@media screen and (max-width: 768px) {
.common_bnr {
  margin: -15px 0 50px;
}
.common_bnr li {
  float: none;
  width: auto;
  padding-left: 0;
}
}



/* !logo
---------------------------------------------------------- */
.common_logo {
  overflow: hidden;
  margin: -12px 0 0 -15px;
}
.common_logo li {
  float: left;
  width: 20%;
  padding-left: 15px;
  margin-top: 12px;
}
.common_logo li a {
  display: block;
  background: #fff;
  border: 1px #dcdcdc solid;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px;
}
.common_logo li a img {
  width: 100%;
}
.common_logo li a:hover {
  border: 1px #005bac solid;
}
.common_logo li.current a {
  border: 1px #005bac solid;
}

@media screen and (max-width: 1080px) {
.common_logo li {
  width: 25%;
}
}
@media screen and (max-width: 768px) {
.common_logo li {
  width: 50%;
}
}



@media screen and (max-width: 1080px) {
  
}
@media screen and (max-width: 768px) {
  
}





